<div class="container">
    <div class="row">
        <div *ngFor=" let empleados of empleadosPresnetes" class="col-2">
            <app-my-card (verDetalle)="verDetalle($event)" [empleado]="empleados"/>
        </div>
    </div>
</div>

<button (click)="modalVisible = true"  class="btn btn-primary">Abrir modal</button>

<!-- <app-nested-component-1/>
<app-nested-component-2/> -->
<h2>Empleados Presentes</h2>
<app-empleados-lista (eliminarEmppleado)="eliminarEmpleado($event, 'empleadosPresnetes')" [data]="empleadosPresnetes"/>

<div class="m-5"></div>

<h2>Empleados ausentes</h2>
<app-empleados-lista (eliminarEmppleado)="eliminarEmpleado($event, 'empleadosUsentes')" [data]="empleadosUsentes"/>

<app-my-modal [(visible)]="modalVisible" />